.productsContainer{
    display: grid;
    grid-template-columns: repeat(3, 33%);
    gap: 5px;
    max-width: 100%;
    width: 100%;
    margin-top: 20px;
}

.productContainer{
    position: relative;
    z-index: 1;
    box-sizing: border-box;
    padding: 10px 10px 50px 10px;
    border: 1px solid #c9c9c9;
    cursor: pointer;
}

.productContainer div{
    max-width: 210px;
    margin: 0 auto;
}
.productContainer div img{
    width: 100%;
}
.productContainer h4{
    margin: 10px 0 15px 0;
    text-align: center;
    font-size: 14px;
    color: #333333;
}
.productContainer p{
    margin-bottom: 20px;
    text-align: center;
    font-size: 16px;
    color: #333333;
}
.productContainer button{
    position: absolute;
    right: 0;
    left: 0;
    bottom: 5px;
    max-width: 108px;
    margin: 0 auto;
    padding: 10px 15px;
    font-size: 12px;
    border: 0;
    border-radius: 5px;
    background-color: #e81912;
    color: #FFFFFF;
}

.productContainer button.inBasketBtn{
    cursor:auto;
    background-color: #777777;
    color: #FFFFFF;
}

@media (max-width: 575px) {
    .productsContainer{
        grid-template-columns: repeat(2, 50%);
    }
}
@media (max-width: 424px) {
    .productsContainer{
        grid-template-columns: repeat(1, 75%);
        justify-content: center;
    }
}